$navbar-default-bg: #CFD8DC;



@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float:left;
  font-size: 1.7em;
  color: #FFFFFF;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;

}

.nav.navbar-nav li a {
  color: #009688;
}

.nav.navbar-nav.navbar-right li a {
  color: #009688;
}



#logo:hover {
  color: #009688;
  text-decoration: none;

}

.center {
  text-align: center;
}

.jumbotron {
  // background-image: asset-url('pic13.jpg');
  background-color: #455A64;
  background-size: cover;
  height: 600px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge {
  font-size: 1.7em;
  background-color: #607D8B;
  border-color: #607D8B;
}

.btn-xlarge:hover {
  background-color: #009688;
  border-color: #009688;
}

.article-actions {
  border-top: 1px solid #607D8B;
  padding-top: 5px;


}

.description {
  margin-top: 0;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #607D8B;
}

footer a:hover {
  color: #009688;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}
